@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Raleway", sans-serif;
  background: url("../images/background.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: skyblue;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: skyblue;
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul il {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

header {
  height: 80vh;
  color: #fff;
  text-align: center;
}

header .principal {
  margin-top: 270px;
}

header .principal h1 {
  color: skyblue;
}

header .principal h4 {
  margin-top: -20px;
  padding: 20px;
}

.presentation {
  background-color: #222f3e;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}

.experiences {
  background-color: #222f3e;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
}

.presentation h1,
.experiences h1 {
  text-align: center;
  color: skyblue;
}

.presentation h1 img,
.experiences h1 img {
  height: 20px;
}

table {
  width: 100%;
}

abbr {
  color: skyblue;
}

.presentation .gauche {
  width: 80%;
  margin-right: 10px;
  text-align: justify;
}

.presentation .droite {
  text-align: center;
  margin: auto;
  display: flex;
}

.explanation-cell {
  color: skyblue;
  text-align: justify;
}

.submenu-metier::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.25em 0.25em 0;
  border-color: #fff transparent transparent;
  vertical-align: middle;
}

.propos {
  padding: 30px;
  color: #fff;
}

.propos h1 {
  text-align: center;
  color: skyblue;
}

.propos .fiches {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.propos .fiches .carte {
  background-color: skyblue;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

.propos .fiches .carte h1 {
  color: #000;
}

.propos .fiches a {
  text-decoration: none;
  color: #000;
}

.propos .fiches .carte img {
  height: 60px;
}

.real {
  padding-top: 20px;
  background-color: #222f3e;
  padding-bottom: 30px;
  color: #fff;
  border-radius: 15px;
}

.real h1 {
  text-align: center;
  color: skyblue;
}

.real .real-images {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  margin-top: 30px;
  justify-content: center;
}

.real .real-images p {
  margin-right: 30px;
}

.real .real-images p img {
  height: 120px;
}

footer {
  background-color: #18212b;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
}

footer .social {
  display: flex;
}

footer .social p {
  margin-right: 15px;
  padding: 5px;
  text-align: center;
  width: 20px;
}

footer .social p a {
  color: #fff;
}

footer .social p a:hover {
  color: skyblue;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: skyblue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

#scroll-to-top a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

#contact {
  padding: 100px 15px;
}

@media screen and (max-width: 810px) {
  .presentation .gauche {
    width: 100%;
  }
  .presentation .droite {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section#contact .container form {
    flex-direction: column;
    width: 95%;
  }
  section#contact .container form input {
    width: 100%;
  }
  section#contact .container .title h6 {
    font-size: 1em;
  }

  section#contact .container .title h3 {
    font-size: 2em;
  }
}
