@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  background: url("../images/background.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#jeu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
}

.case {
  border: 1px solid #ccc;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
}
h1 {
  color: skyblue;
  margin-bottom: 10px;
}
h2 {
  color: skyblue;
  margin-top: 10px;
}

.case {
  color: #2b2b95;
  background: skyblue;
}

#recommencer {
  border: none;
  color: red;
  background: transparent;
  font-size: 20px;
  margin-top: 10px;
}
